# Maven target directory
target/

# Eclipse project files
.project
.classpath
.settings/
.idea/
.vscode/

# Arquivos temporários do sistema operacional
.DS_Store   # MacOS
Thumbs.db   # Windows

# Arquivos de logs
*.log

#Arquivos java
*.jar